{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <header id="showcase">
        <h1>GameBlog</h1>
        <h3>The blog of the latest video game releases !</h3>
        <a href="#" class="button"></a>
    </header>

{% endblock %}
