@import "global";
@import "home";
@import "navbar";
@import "article";
@import "plateform";
@import "account";

@font-face {
  font-family: "Techno";
  src: url('../font/Techno.ttf');
}
@font-face {
  font-family: "Atlas";
  src: url('../font/dai-atlas-font/DaiAtlas-Y0Z8.ttf');
}