* {
  margin: 0;
  padding: 0;
}

.navbarHome{
background: url("/assets/images/Gaming-zone.jpg");
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}
@media screen and (max-width: 670px){
  .navbarHome{
    min-height: 500px;
  }

}



