$color1 : #6E1272;
$color2 : #0E0F26;
$color3 : #2469A6;
$color4 : #7EF2F2;
$color5 : #401B8E;
$color6 : #ff9f43;

/*
--twitter-color: #1da1f2;
--instagram-color: #8004d1;
--facebook-color: #3f88f0;
--github-color: #FFFFFF;
--youtube_color: #f21501

*/