{% extends 'base.html.twig' %}

{% block title %}New Plateform{% endblock %}

{% block body %}
    <h1 class="article-title">Ajouter une plateform</h1>

    {{ include('plateform/_form.html.twig') }}

    <a class="lien" href="{{ path('plateform_index') }}">Revenir vers la liste</a>
{% endblock %}
